@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  overflow: hidden;
  background: #3E1E68;
}

.background {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}

.background span {
  width: 10%;
  height: 20vmin;
  border-radius: 20vmin;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.background span:nth-child(1) {
  color: #583C87;
  top: 42%;
  left: 17%;
  -webkit-animation-duration: 16s;
          animation-duration: 16s;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform-origin: -11vw 25vh;
          transform-origin: -11vw 25vh;
  -webkit-box-shadow: -40vmin 0 12.6866620652vmin currentColor;
          box-shadow: -40vmin 0 12.6866620652vmin currentColor;
}
.background span:nth-child(2) {
  color: #583C87;
  top: 29%;
  left: 42%;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform-origin: 11vw -23vh;
          transform-origin: 11vw -23vh;
  -webkit-box-shadow: 40vmin 0 9.1900036987vmin currentColor;
          box-shadow: 40vmin 0 9.1900036987vmin currentColor;
}
.background span:nth-child(3) {
  color: #583C87;
  top: 74%;
  left: 16%;
  -webkit-animation-duration: 14.9s;
          animation-duration: 14.9s;
  -webkit-animation-delay: -7.4s;
          animation-delay: -7.4s;
  -webkit-transform-origin: 4vw -2vh;
          transform-origin: 4vw -2vh;
  -webkit-box-shadow: -40vmin 0 11.0724681394vmin currentColor;
          box-shadow: -40vmin 0 11.0724681394vmin currentColor;
}
.background span:nth-child(4) {
  color: #E45A84;
  top: 6%;
  left: 36%;
  -webkit-animation-duration: 11.3s;
          animation-duration: 11.3s;
  -webkit-animation-delay: -7.9s;
          animation-delay: -7.9s;
  -webkit-transform-origin: 24vw 15vh;
          transform-origin: 24vw 15vh;
  -webkit-box-shadow: 40vmin 0 10.8251257976vmin currentColor;
          box-shadow: 40vmin 0 10.8251257976vmin currentColor;
}
.background span:nth-child(5) {
  color: #E45A84;
  top: 69%;
  left: 58%;
  -webkit-animation-duration: 14.5s;
          animation-duration: 14.5s;
  -webkit-animation-delay: -13.9s;
          animation-delay: -13.9s;
  -webkit-transform-origin: -13vw 21vh;
          transform-origin: -13vw 21vh;
  -webkit-box-shadow: -40vmin 0 14.615141338vmin currentColor;
          box-shadow: -40vmin 0 14.615141338vmin currentColor;
}
.background span:nth-child(6) {
  color: #583C87;
  top: 24%;
  left: 57%;
  -webkit-animation-duration: 13.4s;
          animation-duration: 13.4s;
  -webkit-animation-delay: -8.2s;
          animation-delay: -8.2s;
  -webkit-transform-origin: 16vw 23vh;
          transform-origin: 16vw 23vh;
  -webkit-box-shadow: -40vmin 0 5.8009888893vmin currentColor;
          box-shadow: -40vmin 0 5.8009888893vmin currentColor;
}
.background span:nth-child(7) {
  color: #583C87;
  top: 14%;
  left: 79%;
  -webkit-animation-duration: 11.1s;
          animation-duration: 11.1s;
  -webkit-animation-delay: -10.6s;
          animation-delay: -10.6s;
  -webkit-transform-origin: 2vw -23vh;
          transform-origin: 2vw -23vh;
  -webkit-box-shadow: -40vmin 0 8.967056181vmin currentColor;
          box-shadow: -40vmin 0 8.967056181vmin currentColor;
}
.background span:nth-child(8) {
  color: #FFACAC;
  top: 70%;
  left: 55%;
  -webkit-animation-duration: 12.2s;
          animation-duration: 12.2s;
  -webkit-animation-delay: -10.4s;
          animation-delay: -10.4s;
  -webkit-transform-origin: -1vw -13vh;
          transform-origin: -1vw -13vh;
  -webkit-box-shadow: 40vmin 0 9.1958727161vmin currentColor;
          box-shadow: 40vmin 0 9.1958727161vmin currentColor;
}
.background span:nth-child(9) {
  color: #E45A84;
  top: 10%;
  left: 76%;
  -webkit-animation-duration: 11.5s;
          animation-duration: 11.5s;
  -webkit-animation-delay: -12.5s;
          animation-delay: -12.5s;
  -webkit-transform-origin: -3vw 21vh;
          transform-origin: -3vw 21vh;
  -webkit-box-shadow: 40vmin 0 7.9014502371vmin currentColor;
          box-shadow: 40vmin 0 7.9014502371vmin currentColor;
}
.background span:nth-child(10) {
  color: #583C87;
  top: 44%;
  left: 25%;
  -webkit-animation-duration: 14.5s;
          animation-duration: 14.5s;
  -webkit-animation-delay: -3.1s;
          animation-delay: -3.1s;
  -webkit-transform-origin: 4vw 6vh;
          transform-origin: 4vw 6vh;
  -webkit-box-shadow: -40vmin 0 10.1696068423vmin currentColor;
          box-shadow: -40vmin 0 10.1696068423vmin currentColor;
}
.background span:nth-child(11) {
  color: #583C87;
  top: 45%;
  left: 28%;
  -webkit-animation-duration: 15.5s;
          animation-duration: 15.5s;
  -webkit-animation-delay: -6.9s;
          animation-delay: -6.9s;
  -webkit-transform-origin: -13vw 8vh;
          transform-origin: -13vw 8vh;
  -webkit-box-shadow: -40vmin 0 11.5463485942vmin currentColor;
          box-shadow: -40vmin 0 11.5463485942vmin currentColor;
}
.background span:nth-child(12) {
  color: #583C87;
  top: 67%;
  left: 93%;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-delay: -12.3s;
          animation-delay: -12.3s;
  -webkit-transform-origin: 19vw 21vh;
          transform-origin: 19vw 21vh;
  -webkit-box-shadow: -40vmin 0 6.7696608128vmin currentColor;
          box-shadow: -40vmin 0 6.7696608128vmin currentColor;
}
.background span:nth-child(13) {
  color: #E45A84;
  top: 21%;
  left: 9%;
  -webkit-animation-duration: 15.9s;
          animation-duration: 15.9s;
  -webkit-animation-delay: -13.7s;
          animation-delay: -13.7s;
  -webkit-transform-origin: -8vw 5vh;
          transform-origin: -8vw 5vh;
  -webkit-box-shadow: 40vmin 0 11.4308135226vmin currentColor;
          box-shadow: 40vmin 0 11.4308135226vmin currentColor;
}
.background span:nth-child(14) {
  color: #FFACAC;
  top: 48%;
  left: 41%;
  -webkit-animation-duration: 10.1s;
          animation-duration: 10.1s;
  -webkit-animation-delay: -15.2s;
          animation-delay: -15.2s;
  -webkit-transform-origin: -7vw 8vh;
          transform-origin: -7vw 8vh;
  -webkit-box-shadow: 40vmin 0 7.49200083vmin currentColor;
          box-shadow: 40vmin 0 7.49200083vmin currentColor;
}
.background span:nth-child(15) {
  color: #583C87;
  top: 71%;
  left: 33%;
  -webkit-animation-duration: 15.8s;
          animation-duration: 15.8s;
  -webkit-animation-delay: -7.3s;
          animation-delay: -7.3s;
  -webkit-transform-origin: 0vw 9vh;
          transform-origin: 0vw 9vh;
  -webkit-box-shadow: -40vmin 0 7.761988146vmin currentColor;
          box-shadow: -40vmin 0 7.761988146vmin currentColor;
}
.background span:nth-child(16) {
  color: #583C87;
  top: 10%;
  left: 69%;
  -webkit-animation-duration: 15.5s;
          animation-duration: 15.5s;
  -webkit-animation-delay: -10.5s;
          animation-delay: -10.5s;
  -webkit-transform-origin: -2vw -22vh;
          transform-origin: -2vw -22vh;
  -webkit-box-shadow: 40vmin 0 7.7651527179vmin currentColor;
          box-shadow: 40vmin 0 7.7651527179vmin currentColor;
}
.background span:nth-child(17) {
  color: #583C87;
  top: 97%;
  left: 54%;
  -webkit-animation-duration: 14.7s;
          animation-duration: 14.7s;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform-origin: -5vw -11vh;
          transform-origin: -5vw -11vh;
  -webkit-box-shadow: 40vmin 0 10.523368913vmin currentColor;
          box-shadow: 40vmin 0 10.523368913vmin currentColor;
}
.background span:nth-child(18) {
  color: #E45A84;
  top: 54%;
  left: 57%;
  -webkit-animation-duration: 10.4s;
          animation-duration: 10.4s;
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
  -webkit-transform-origin: 10vw -6vh;
          transform-origin: 10vw -6vh;
  -webkit-box-shadow: 40vmin 0 11.7956882549vmin currentColor;
          box-shadow: 40vmin 0 11.7956882549vmin currentColor;
}
.background span:nth-child(19) {
  color: #FFACAC;
  top: 81%;
  left: 72%;
  -webkit-animation-duration: 14.7s;
          animation-duration: 14.7s;
  -webkit-animation-delay: -4.1s;
          animation-delay: -4.1s;
  -webkit-transform-origin: -14vw -3vh;
          transform-origin: -14vw -3vh;
  -webkit-box-shadow: 40vmin 0 11.9634663033vmin currentColor;
          box-shadow: 40vmin 0 11.9634663033vmin currentColor;
}
.background span:nth-child(20) {
  color: #FFACAC;
  top: 99%;
  left: 73%;
  -webkit-animation-duration: 13.5s;
          animation-duration: 13.5s;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  -webkit-transform-origin: 3vw 12vh;
          transform-origin: 3vw 12vh;
  -webkit-box-shadow: -40vmin 0 14.773001423vmin currentColor;
          box-shadow: -40vmin 0 14.773001423vmin currentColor;
}

@-webkit-keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
            transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
            transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
.wrapper {
  width: 1220px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}
.wrapper .box__header {
  width: 80%;
  height: 300px;
  background-color: gainsboro;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 10px 0;
          box-shadow: 0 3px 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .box__header .box {
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  text-align: center;
}
.wrapper .box__header .box .numbers__nol {
  font-size: 84px;
  margin-bottom: 0;
  font-weight: 900;
}
.wrapper .box__header .box .days__day {
  font-weight: 500;
  font-size: 32px;
}/*# sourceMappingURL=index.css.map */